* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2E80CE;
    --secondary-color: #10375C;
    --extra-color: #EAF6FF;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/** Commons */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    color: #fff;
    background: var(--primary-color);
    min-width: 205px;
    text-align: center;
    height: var(--height);
    padding: 0 20px;
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
    color: var(--secondary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section__desc {
    margin-top: 18px;
    width: 468px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    outline: none;
    background: #fff;
    color: #575F66;
    transition: 0.25s;
}

.control__btn:hover {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.control__icon {
    rotate: 180deg;
}

/** HEADER */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--secondary-color);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--primary-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-family: Sora, sans-serif;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/** Navbar */

.header-top {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    display: flex;
    align-items: center;
}

.navbar__link {
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    position: relative;
    left: -8px;
    top: -3px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/** Action */

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    padding: 4px 21px;
    margin-right: 7px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/** HERO */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

.hero__img:first-child {
    margin-right: -6px;
    z-index: 1;
}

/** SERVICE */
.service {
    padding: 170px 0;
}

.service .section__desc,
.service .section__heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

/* Service item */
.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    background: #FFF;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);

}

.service-item:hover .service-item__icon {
    background: var(--primary-color);
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: var(--extra-color);
    color: var(--secondary-color);
    transition: 0.25s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.28;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service-btn {
    margin-top: 55px;
}

/** WORK */
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__desc {
    width: 468px;
    text-align: left;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work__item {
    background: #fff;
    padding: 44px;
    border: 16px solid var(--extra-color);
    border-radius: 4px;
    transition: 0.25s;
}

.work__item:hover {
    border-color: var(--primary-color);
    transform: translateY(-16px);
}

.work__item-heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: var(--secondary-color);
}

.work__item-desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
}

.work__item-link {
    display: inline-block;
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--primary-color);
}

/** FEATURE */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding:0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__wrapper {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__btn {
    margin-top: 38px;
}

/** MEMBERS */
.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__btn {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item__img-bg {
    background: var(--extra-color);
    padding-top: 28px;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.5s;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__name {
    margin-top: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
    font-weight: 500;
    color: var(--secondary-color);
}

.member-item__desc {
    color: #575F66;
    font-size: 1.4rem;
    line-height: 1.86;
    font-weight: 300;
    line-height: 26px;
}

.member__control {
    justify-content: center;
    margin-top: 38px;
}
/** INSTALL */
.install {
    margin-top: 180px;
}

.install__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    background: var(--primary-color);
    border-radius: 4px;
}

.install__img {
    display: block;
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
}

.install__content {
    max-width: 586px;
}

.install__heading {
    max-width: 489px;
    color: #fff;
}

.install__desc {
    color: #fff;
}

.install__row {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}

/** NEWS */
.news {
    margin-top: 85px;
    padding: 85px 0;
}

.news__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    flex-shrink: 0;

}

.news__heading {
    max-width: 470px;
}

.news__link {
    display: inline-block;
    margin-top: 28px;
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.news__control {
    margin-top: 28px;
}

.news__list {
    max-width: 570px;
    display: flex;
    column-gap: 30px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(-10px);
}

.news-item:hover .news-item__link {
    color: var(--primary-color);
}

.news-item:hover .news-item__body {
    border-color: #fff;
}

.news-item__thumb {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
}

.news-item__body {
    padding: 24px 24px 22px;
    background: #fff;
    border: 1px solid #e8ebee;
    border-top: none;
    border-radius: 0 0 12px 12px;
    transition: 0.25s;
}

.news-item__heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: var(--secondary-color);
}

.news-item__desc {
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.news-item__link {
    display: inline-block;
    font-weight: 500;
    margin-top: 12px;
    font-size: 1.4rem;
    color: var(--secondary-color);
}

/** APPOINTMENT */
.appointment {
    margin-top: 85px;
    padding: 85px 0;
}

.appointment__inner {
    padding: 100px 0;
    background: var(--extra-color);
    display: grid;
    place-items: center;
    text-align: center;
}

.appointment__heading::after {
    content: "";
    display: block;
    margin: 18px auto;
    width: 136px;
    height: 2px;
    background: var(--primary-color);
}

.appointment__desc {
    min-width: 617px;
}

.appointment__btn {
    margin-top: 38px;
}

/** FOOTER */
.footer {
    margin-top: 85px;
    padding-top: 100px;
    background: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 22px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #a9b3bb;
}

.footer__heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fff;
}

.footer__list {
    margin-bottom: 28px;
}

.footer__link {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #a9b3bb;
    white-space: nowrap;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__item {
    margin-bottom: 22px;
}

.footer__social {
    margin-bottom: 28px;
    display: flex;
    column-gap: 10px;
}

.footer__social-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}


.footer__social-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.footer__form {
    margin-top: 10px;
    column-gap: 12px;
    display: flex;
}
.footer__input {
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    outline: none;
    background: transparent;
    padding: 0 10px;
    color: #fff;
}

.footer__input::placeholder {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #C9D2DA;
}

.footer__btn {
    --height:46px;
    min-width: 108px;
    border-radius: 4px;
    font-size: 1.4rem;
}

.footer__copyright {
    border-top:1px solid #406181 ;
    padding:28px 0 42px;
}

.footer__copyright-text {
    font-size: 1.6rem;
    line-height: 1.86;
    text-align: center;
}

